//@function fz($size) から自動的に設定するようにする　//★★

.u-fz10{font-size: fz(10);}
.u-fz11{font-size: fz(11);}
.u-fz12{font-size: fz(12);}
.u-fz13{font-size: fz(13);}
.u-fz14{font-size: fz(14);}
.u-fz15{font-size: fz(15);}
.u-fz16{font-size: fz(16);}
.u-fz17{font-size: fz(17);}
.u-fz18{font-size: fz(18);}
.u-fz19{font-size: fz(19);}

.u-fz20{font-size: fz(20);}
.u-fz22{font-size: fz(22);}
.u-fz23{font-size: fz(23);}
.u-fz24{font-size: fz(24);}
.u-fz25{font-size: fz(25);}
.u-fz26{font-size: fz(26);}
.u-fz27{font-size: fz(27);}
.u-fz28{font-size: fz(28);}

.u-fz30{font-size: fz(30);}
.u-fz32{font-size: fz(32);}
.u-fz34{font-size: fz(34);}
.u-fz36{font-size: fz(36);}
.u-fz38{font-size: fz(38);}

.u-fz40{font-size: fz(40);}
.u-fz42{font-size: fz(42);}
.u-fz44{font-size: fz(44);}
.u-fz46{font-size: fz(46);}
.u-fz50{font-size: fz(50);}
.u-fz72{font-size: fz(72);}