.p-nhklist {
    margin-top: 10px;
    font-size: fz(16);
    line-height: 1.4;
    
    
    
    li {
        padding: 8px 8px 8px 15px;
        background:#f4f4f4;
    }
    
    li:nth-child(even){
        background:#ddd;
    }
    
    a:link {
        color: #045e8c;
    }
    
    a:visited {
        color: #045e8c;
    }
}
