.c-siteInfo{
    padding-top: 30px;
    padding-bottom: 30px;
    @include media(sm){
        .sp_hide {
            display: none;
        }
    }
    @include media(md){
        .sp_hide{
            width: 80%;
        }
        .pc_hide {
            display: none;
        }
        }
}



