.c-grid{
    display: flex;
    flex-wrap:wrap;

    //横方向（左から右）
    &--row{
        flex-direction: row;
    }
    //横方向（右から左）
    &--row-rev{
        flex-direction: row-reverse;
    }
    //縦方向（上から下）
    &--col{
        flex-direction: column;
    }
    //縦方向（下から上）
    &--col-rev{
        flex-direction: column-reverse;
    }
    &--no-wrap{
        flex-wrap: nowrap;
    }

    &__item{
        width: 100%;
    }

    // &__title{
    //     font-size: fz(18);
    //     font-weight: bold;
    //     color: inherit;
    // }
    // &__time{
    //     display:block;
    //     margin-top: getSysMargin(xs);
    //     font-size: fz(16);
    //     color: getColor(text-light);
    // }

    // &__text{
    //     margin-top: 12px;
    //     font-size: fz(16);
    //     color: inherit;
    //     @include media(md){
    //         margin-top: 16px;
    //     }
    // }
}


//グリッドのカラム
@for $i from 1 through $g_column-grid {
    $width: percentage($i * (1 / $g_column-grid));
    // @include media(sm){.c-col-sm-#{$i} {width: $width;}}
    // @include media(md){.c-col-md-#{$i} {width: $width;}}
    // @include media(lg){.c-col-lg-#{$i} {width: $width;}}
    // @include media(xl){.c-col-xl-#{$i} {width: $width;}}

    //メディアクエリごとの設定
    @each $key, $value in $_breakpoints {
        @include media(#{$key}){
            .c-col-#{$key}-#{$i} {width: $width;}
        }
    }

}


