/* --------------------
SNSボタン
-------------------- */
.module--share {
    padding: 32px 0 0;
    text-align: center;
    @include media(md){
        //padding-bottom: 0;
        text-align: right;
    }
    // & > .module--share:first-child {
    &:first-child {
        @include media(md){
            width: 100%;
            margin: 0 auto;
        }
    }
}


// &.index{
//.index{
    // width: 100%;
    // padding-top: 0px;
    // padding-right: 16px;

    // @include media(md){
    //     width: 960px;
    //     margin: 0 auto;
    //     padding-top: 16px;
    // }
    // .module--share {
    //     padding-top: 0px;
    //     padding-bottom: 16px;

    //     @include media(md){
    //         padding-bottom: 0px;
    //     }
    // }
//}

.nhk-snsbtn {
    margin-bottom: 0px!important;
}