//--------------------------------------------------
// グラフ
//--------------------------------------------------

.p-graph{
    //出典
    &__source {
        margin-top: getSysMargin(xs);
        text-align: right;
        font-size: fz(12);
    }
}
